*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
}

#main
{
    width: 100%;
    height: 100%;
}

#top
{
    width: 100%;
    height: 60%;
    background-image: url(/o.jpg);
    background-size: cover;
    background-position: center;
}

#overlay
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#text
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    bottom: 25%;
    width: 100%;
    padding: 0 8vw;
    
}

#text h1
{
    font-size: 5vw;
    color: white;
}

#textright
{
    align-items: center;
    justify-content: space-between;
    width: 60%;
    display: flex;
}

#textright p
{
    color: white;
    font-size: 1vw;
    font-weight: 800;
    width: 30%;
}

#textright i
{
    color: white;
}

#bottom
{
    width: 100%;
    height: 40%;
    display: flex;
    background-color: blue;
}

#bone
{
    width: 25%;
    height: 100%;
    background-color: rgb(218, 211, 211);
}

#bone h4
{
    padding: 1.5vw 2vw;
}

#bone p
{
    padding: 0px 2vw;
    font-size: 1.1vw;
    text-align: justify;
}

#btwo
{
    width: 25%;
    height: 100%;
    background-image: url(/r1.jpg);
    background-size: cover;
    background-position: center;
}

#bthree
{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
}

#bthreetop
{
    width: 100%;
    height: 50%;
    background-color: rgb(230, 195, 180);
}
#bthreetop h4
{
    padding: 1.5vw 2vw;
}
#bthreetop p
{
    padding: 0px 2vw;
    font-size: 0.9vw;
    text-align: justify;
}

#bthreebottom
{
    width: 100%;
    height: 50%;
    background-image: url(/r5.jpg);
    background-size: cover;
    background-position: center ;
}

#bfour
{
    width: 30%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}

#bfour h4
{
    padding: 1.5vw 2vw;
}

.notf2
{
    display: flex;
    justify-content: space-between;
}

.notf2 #left
{
    padding-left: 1.5vw;
    width: 40%;
    height: 60%;
}

.notf2 #left img
{
    height: 74%;
    width: 52%;
    object-fit: cover;
    border-radius: 50%;
}

.notf2 #right
{
    width: 60%;
    height: 25%;
}

.notf2 #right p
{
    font-size: 1.2vw;
    padding-right: 1.5vw;
    
}


@media (max-width:600px) 
{
    #top {
        width: 100%;
        height: 60%;
    }
    #bottom {
        width: 100%;
        height: 20%;
        flex-wrap:wrap;
    }   
    
    #text h1 {
        font-size: 8vw;
        color: white;
    }
    #textright i
    {
        color: white;
        font-size: 3.5vw;
        display: flex;
        align-items: center;
        padding-bottom: 0.8vh;
    }
    #bone {
        width: 50%;
        height: 100%;
    } 
    #bone h3 {
        padding: 1.5vw 2vw;
        font-size: 4vw;
    }
    #bone p {
        padding: 0px 2vw;
        font-size: 1.4vw;
        text-align: justify;
    }
    
    #btwo {
        padding-left: 3vw;
        width:50%;
        height: 100%;
    }
    
    #bthree {
        width: 50%;
        height: 100%;
        background-color: rgb(228, 205, 194);
    }
    #bthreetop h6 {
        padding: 1.5vw 2vw;
        font-size: 4vw;
    }
    #bthreetop p {
        padding: 0px 2vw;
        font-size: 1.4vw;
        text-align: justify;
    }
    #bfour {
        width: 50%;
        height: 100%;
        background-color: rgb(181, 102, 102);
    }
    #bfour h4 {
        padding: 1.5vw 2vw;
        font-size: 4vw;
    }    
    .notf2 #right p {
        font-size: 1.4vw;
        padding-right: 1.5vw;
        font-size: 1.5vw;
    }

}













